<title>Multumim!</title>

<%= render file: 'layouts/header'%>

<div class="align-center big" style="margin-top: 200px; margin-bottom: 100px;">
<p>Îţi mulţumim pentru comanda ta!</p>
 <p>Vei fi contactat în cel mai scurt timp pentru confirmarea comenzii.</p>
</div>

<%= render file: 'layouts/footer'%>