# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2945aff78259f40819be53d68a3d1eb75db2448da38e4c1eec18cece3d92a82cd10516660768a965adbb25282961b5548b596a85f76f5f8acf1089380c7e61ec

test:
  secret_key_base: b7c8ff8ff4438925ae6f7f6fb0a1115fbdbc462b7c20338d1015099d50ba52c98aa22e64a74a8700b38695ae6879e5a24fd5374a20da2ec4a6d6290112a0f2ff

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: b7c8ff8ff4438925ae6f7f6fb0a1115fbdbc462b7c20338d1015099d50ba52c98aa22e64a74a8700b38695ae6879e5a24fd5374a20da2ec4a6d6290112a0f2ff

