/* CSS Document */


html,body{
	margin: 0px;
	padding: 0px;
	background-color: whitesmoke;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 100%;
	width: 100%;
	display: block;
	overflow-x: hidden;
	box-sizing: border-box;
}
@media only screen 
  and (min-width: 100px) 
  and (max-width: 300px) 
{
	html, body{
		font-size: 0.7em;
	}
}
@media only screen 
  and (min-width: 300px) 
  and (max-width: 500px) 
{
	html, body{
		font-size: 0.8em;
	}
}
@media only screen 
  and (min-width: 500px) 
  and (max-width: 1000px) 
{
	html, body{
		font-size: 0.9em;
	}
}
@media only screen 
  and (min-width: 1000px) 
  and (max-width: 1800px) 
{
	html, body{
		font-size: 1em;
	}
}
.responsive-background{
	height: 70vw;
	width:100vw;;
	background-color: #fff;
	position: relative;
	margin: 0;
	padding: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}
#background-three{
	background: url("http://89.35.238.250/assets/stiinta_detoxifiere_curcumin95_bioperine_md.jpg") no-repeat right center scroll; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
 		background-size: cover; 
	background-position: top center;
}
#background-four{
	background: url("http://89.35.238.250/assets/beneficii_curcumin95_bioperine_xs.jpg") no-repeat right center scroll; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
 		background-size: cover; 
	background-position: top center;
}
#background-five{
	background: url("http://89.35.238.250/assets/detoxifiere_curcumin95_bioperine_xs.jpg") no-repeat right center scroll; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
 		background-size: cover; 
	background-position: top center;
}
#background-six{
	background: url("http://89.35.238.250/assets/stiinta_detoxifiere_tratament_artrita_curcumin95_bioperine_xs.jpg") no-repeat right center scroll; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
 		background-size: cover; 
	background-position: top center;
}
#background-seven{
	background: url("http://89.35.238.250/assets/cumpara_antioxidant_antiinflamator_curcumin95_bioperine_xs.jpg") no-repeat right center scroll; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
 		background-size: cover; 
	background-position: top center;
}
#background-eight{
	background: url("http://89.35.238.250/assets/pexels-photo-88636_xs.jpg") no-repeat right center scroll; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
 		background-size: cover; 
	background-position: top center;
}

#div_flacon{
	position: relative;
}
#div_flacon::before{
	height: 350%;
	background-color: #000;
	width:100%;
	max-height: 60vh;
	content: "";
	position: absolute;
	right: -110%;
	top:0;
	bottom: 0;
	margin: auto;
	background: url("http://89.35.238.250/assets/flacon.png") no-repeat right center scroll; 
  		-webkit-background-size: contain;
  		-moz-background-size: contain;
  		-o-background-size: contain;
 		background-size: contain; 
	background-position: center center;
}

h1{
	font-size: 3.3em;
	line-height: 0.8em;
	font-weight: 600;
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
	box-sizing: border-box;
}
h2{
	font-size: 2.8em;
	line-height: 0.8em;
	font-weight: 300;
	margin: 0;
	margin-bottom: 0.5em;
	padding: 0;
	width: 100%;
	display: block;
	box-sizing: border-box;
}
h3{
	font-size: 2.3em;
	line-height: 0.8em;
	font-weight: 600;
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
	box-sizing: border-box;
}
h4{
	font-weight: 2.3em;
	line-height: 0.8em;
	font-weight: 200;
	margin: 0;
	padding: 0;
	margin-bottom: 0.5em;
	width: 100%;
	display: block;
	box-sizing: border-box;
}
p{	
	
	font-size: 1.3em;
	line-height: 1.2em;
	width: 100%;
	display: block;
	box-sizing: border-box;
}

.ultra{
	font-weight: 800 !important;
}
.bold{
	font-weight: 600 !important;
}
.medium{
	font-weight: 300 !important;
}
.slim{
	font-weight: 200 !important;
}
.thin{
	font-weight: 100 !important;
}


.impossible{
	font-size:6em !important;
}
.huge{
	font-size: 3em !important;
}
.biggest{
	font-size: 2.5em;
}
.bigger{
	font-size: 2em !important;
}
.big{
	font-size: 1.5em !important;
}
.smaller{
	font-size: 0.7em !important;
}
.small{
	font-size: 1em !important;
}
.normal{
	font-size: 1.2em !important;
}

.capital{
	text-transform: uppercase;
}
.align-center{
	text-align: center;
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
.align-justify{
	text-align: justify;
}

.float-left{
	display: block;
	position: relative;
	float: left;
}
.float-right{
	display: block;
	position: relative;
	float: right;
}

.tc-green{
	color: #19551B;
}
.tc-blue{
	color: #4A758E;
}
.tc-grey{
	color:dimgray;
}
.tc-grey-light{
	color:whitesmoke;
}


.bd-green{
	border-color: #19551B !important;
}
.bd-blue{
	border-color: #4A758E !important;
}


.bd-grey{
	border-color: dimgray !important;
}
.bd-grey-light{
	border-color:whitesmoke !important;
	box-sizing: border-box;}

.bg-green{
	background-color: #19551B !important;
}
.bg-blue{
	background-color: #4A758E !important;
}
.bg-grey{
	background-color: dimgray !important;
}
.bg-grey-light{
	background-color:whitesmoke !important;
}

.white{
	background-color: #fff;
}
.grey{
	background-color: dimgray;
}
.blue{
	background-color: #4A758E;
}
.grey-light{
	color:whitesmoke;
}
.nobackground{
	background-color: none;
}
.nobackground:hover{
	background-color: none;
}
.translucent{
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
.translucent:hover{
	opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.nomargin{
	margin: 0 !important;
}
.nopadding{
	padding: 0 !important;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
	cursor: pointer;
}
.link{
	box-sizing: border-box;
	font-weight: 500;
	cursor: pointer;
	color: whitesmoke;
	font-size: 1.5em;
	padding:25px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 1px;
	
}
.link:hover{
	box-sizing: border-box;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
	color: whitesmoke;
	border:1px solid whitesmoke;
	margin: 0;
	font-size: 1.5em;
	padding:25px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}


.link-grey{
	box-sizing: border-box;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
	color: dimgray;
	font-size: 1.5em;
	padding:25px;
	padding-top: 5px;
	padding-bottom: 5px;
	border:1px solid whitesmoke;
}
.link-grey:hover{
	box-sizing: border-box;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
	color: dimgray;
	border:1px solid dimgray;
	margin: 0;
	font-size: 1.5em;
	padding:25px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}
.link-focus{
	box-sizing: border-box;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
	color: whitesmoke;
	border:1px solid whitesmoke;
	margin: 0;
	font-size: 1.5em;
	padding:25px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}
.link-focus-grey{
	box-sizing: border-box;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
	color:dimgray;
	border:1px solid dimgray;
	margin: 0;
	font-size: 1.5em;
	padding:25px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}
.link-focus-grey:hover{
	box-sizing: border-box;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
	color:#4A758E;
	border:1px solid #4A758E;
	margin: 0;
	font-size: 1.5em;
	padding:25px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

.icon{
	height: 7vh;
	margin: 2vh;
	display: inline-block;
}


.section_full{
	width: 100%;
	min-height: 90vh;
	height: auto;
	display: table !important;
	padding: 0;
	margin: 0;
	float: left;
	text-align: center;
}
.auto{
	min-height: auto;
}
.section-auto{
	width: 100%;
	min-height: 20vh;
	height: auto;
	display: table!important;
	text-align: center;
	float: left;
}

.container-responsive{
	width: 90%;
	max-width: 1600px;
	height: auto;
	display: inline-block!important;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	margin-bottom: 10vh;
	background-color:transparent;
	box-sizing: border-box;
	position: relative;
	/*border: 1px solid red; */
}
.max800{
	max-width: 800px !important;
}
.max1000{
	max-width: 1000px !important;
	display: inline-block!important;
}
.max600{
	max-width: 600px ;
}
.max400{
	max-width: 400px ;
}
.thirth{
	width:32%;
	margin: 0.5%;
	height: auto;
	float: left;
}
.thirth-responsive{
	width:33%;
	margin:0.5%;
}
.two-thirds{
	width:65%;
	margin: 0.5%;
}
.two-thirds-responsive{
	width:65%;
	margin:0.5%;
}

.container-half{
	width: 50%;
	max-width: 800px;
	height: auto;
	display: inline-block!important;
	background-color:transparent;
	position: relative;
}
.container-half-b{
	width: 80%;
	max-width: 800px;
	height: auto;
	display: inline-block !important;
	position: relative;
	background-color:transparent;
}
.container-third{
	width: 29%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	max-width: 500px;
	height: auto;
	display: inline-block !important;
	position: relative;
	background-color:transparent;
}
.container-35-50{
	width: 35%;
	max-width: 620px;
}
.container-full-responsive{
	width: 100%;
	max-width: 1600px;
	height: auto;
	display: inline-block !important;
	position: relative;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	margin-bottom: 10vh;
	background-color: transparent;
}

.container-40-responsive{
	width: 90vw;
	max-width: 630px;
	height: auto;
	display: inline-block !important;
	position: relative;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	margin-bottom: 10vh;
	background-color:transparent;
}
.container-40-80-responsive{
		width: 45%;
		height: auto;
		display: inline-block !important;
		position: relative;
		float: left;
		left: auto;
		right: auto;
		margin-left: 0;
		margin-right: 5%;
		margin-top: 10vh;
		margin-bottom: 10vh;
		background-color:transparent;
	}

#section_two .container-full-responsive::before{
	content: '';
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
	position: absolute;
	top:0;bottom: 0;left: 0;right: 0;
	background: url("http://89.35.238.250/assets/flacon.png") no-repeat center center;
	background-size: auto 70%;
	background-position: center center;
}
#section_three{
	background: url("http://89.35.238.250/assets/stiinta_detoxifiere_curcumin95_bioperine_md.jpg") no-repeat right center fixed; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
 		background-size: cover; 
	background-position: top center;
}

.position-left{
	display: block;
	position: relative;
	left: 0;
	background-color:transparent;
}
.position-right{
    display: block;
	position: relative;
	right:0;
	background-color:transparent;
}
.position-middle{
    display: block;
	position: relative;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-color:transparent;
}
.position-v-middle{
	display: block;
	position: relative;
	top:0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	background-color:transparent;
}
.absolute-v-middle{
	display: block;
	position: absolute;
	top:0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	background-color:transparent;
}
.contained{
	max-height: 100%;
	max-width: 100%;
	box-sizing: border-box;
}

.padding-5{
	padding: 5%;
}
.padding-10{
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 10%;
	padding-right: 10%;
}
.padding-15{
	padding: 15%;
}
.padding-20{
	padding: 20%;
}

.margin-5{
	margin: 5px;
}
.margin-10{
	margin: 10px;
}
.margin-15{
	margin: 15px;
}
.margin-20{
	margin: 20px;
}

.space{
	display: inline-block;
	position: relative;
	float: left;
	width:15px;
	height: 30px;
}

.padder-2-5{
	display: inline-block;
	position: relative;
	float: left;
	width: 100%;
	height: 2.5vh;
}
.padder-5{
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 5vh;
}
.padder-10{
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 10vh;
}
.padder-15{
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 15vh;
}
.padder-20{
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 20vh;
}

.slim-contour{
	border: 1px solid;
	line-height: 2;
	font-size: 1em;
	font-weight: 300;
	text-align: center;
	height: auto;
	width: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}


.slim-no-contour{
	border: none;
	line-height: 2;
	font-size: 1em;
	font-weight: 300;
	text-align: center;
	height: auto;
	width: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
.slim-button{
	border: 1px solid;
	line-height: 2;
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
	height: auto;
	width: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7%;
	padding-right: 7%;
	display: inline-block;
}
.slim-button:hover{
	background-color: #4A758E;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}





.navigation-left{
	background: url("http://89.35.238.250/assets/icons/left.png") no-repeat center center; 
	background-size: contain;
	content: '';
	width: 4vw;
	height: 100%;
	left: -4vw;
	position: absolute;
	cursor: pointer;
	opacity: 0.5;
	filter: opacity(50);
}
.navigation-right{
	background: url("http://89.35.238.250/assets/icons/right.png") no-repeat center center; 
	background-size: contain;
	content: '';
	width: 4vw;
	height: 100%;
	right: -4vw;
	position: absolute;
	cursor: pointer;
	opacity: 0.5;
	filter: opacity(50);
	
}
.navigation-left:hover{

	opacity: 1;
	filter: opacity(100);
}
.navigation-right:hover{

	opacity: 1;
	filter: opacity(100);
	
}
.navigation{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '';
	width: 100%;
	height: 100%;
	display: inline-block;
}
.navvigation::before{
	background: url("http://89.35.238.250/assets/icons/left.png") no-repeat center center; 
	background-size: contain;
	content: '';
	width: 4vw;
	height: 100%;
	left: -4vw;
	position: absolute;
	cursor: pointer;
	opacity: 0.5;
	filter: opacity(50);
}
.navvigation::after{
	background: url("http://89.35.238.250/assets/icons/right.png") no-repeat center center; 
	background-size: contain;
	content: '';
	width: 4vw;
	height: 100%;
	right: -4vw;
	position: absolute;
	cursor: pointer;
	opacity: 0.5;
	filter: opacity(50);
}
.node{
	position: relative;
	display: inline-block;
}
.node-l-t::before{
	background: url("http://89.35.238.250/assets/icons/arrow-top-left.png") no-repeat center center;
	background-size: contain;
	background-position: left center;
	content: '';
	width: 18vw;
	height: 18vh;
	right: -18vw;
	margin: auto;
	padding: 0;
	top:0;
	bottom: 0;
	position: absolute;
	z-index: -0;
}
.node-l-c::before{
	background: url("http://89.35.238.250/assets/icons/arrow-middle-left.png") no-repeat center center;
	background-size: contain;
	background-position: left center;
	content: '';
	width: 18vw;
	height: 18vh;
	right: -18vw;
	margin: auto;
	padding: 0;
	top:0;
	bottom: 0;
	position: absolute;
	z-index: -0;
}
.node-l-b::before{
	background: url("http://89.35.238.250/assets/icons/arrow-bottom-left.png") no-repeat center center;
	background-size: contain;
	background-position: left center;
	content: '';
	width: 18vw;
	height: 18vh;
	right: -18vw;
	margin: auto;
	padding: 0;
	top:0;
	bottom: 0;
	position: absolute;
	z-index: -0;
}
.node-r-t::before{
	background: url("http://89.35.238.250/assets/icons/arrow-top-right.png") no-repeat center center;
	background-size: contain;
	background-position: right center;
	content: '';
	width: 18vw;
	height: 18vh;
	left: -18vw;
	margin: auto;
	padding: 0;
	top:0;
	bottom: 0;
	position: absolute;
	z-index: -0;
}
.node-r-c::before{
	background: url("http://89.35.238.250/assets/icons/arrow-middle-right.png") no-repeat center center;
	background-size: contain;
	background-position: right center;
	content: '';
	width: 18vw;
	height: 18vh;
	left: -18vw;
	margin: auto;
	padding: 0;
	top:0;
	bottom: 0;
	position: absolute;
	z-index: -0;
}
.node-r-b::before{
	background: url("http://89.35.238.250/assets/icons/arrow-bottom-right.png") no-repeat center center;
	background-size: contain;
	background-position: right center;
	content: '';
	width: 18vw;
	height: 18vh;
	left: -18vw;
	margin: auto;
	padding: 0;
	top:0;
	bottom: 0;
	position: absolute;
	z-index: -0;
}

.shadow-bottom{

	-webkit-box-shadow: 0 6px 20px -8px #444;
       -moz-box-shadow: 0 6px 20px -8px #444;
            box-shadow: 0 6px 20px -8px #444;
	margin-bottom: 25px;
}
.shadow-top{
	-webkit-box-shadow: 0 -6px 20px -8px #444;
       -moz-box-shadow: 0 -6px 20px -8px #444;
            box-shadow: 0 -6px 20px -8px #444;
	margin-top: 25px;
}
.shadow-bottom-nomargin{

	-webkit-box-shadow: 0 6px 20px -8px #444;
       -moz-box-shadow: 0 6px 20px -8px #444;
            box-shadow: 0 6px 20px -8px #444;
}
.shadow-top-nomargin{
	-webkit-box-shadow: 0 -6px 20px -8px #444;
       -moz-box-shadow: 0 -6px 20px -8px #444;
            box-shadow: 0 -6px 20px -8px #444;
}

#section_one{
	background: url("http://89.35.238.250/assets/antioxidant_antiinflamator_curcumin95_bioperine_md.jpg") no-repeat top center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    background-size: cover;
	background-attachment: fixed !important;
  -webkit-background-attachment: cover;
  -moz-background-attachment: cover;
  -o-background-attachment: cover;
}
#section_two{


}
#section_four{
	background: url("http://89.35.238.250/assets/beneficii_curcumin95_bioperine_md.jpg") no-repeat center center fixed; 
	background-attachment: fixed !important;
  -webkit-background-attachment: cover;
  -moz-background-attachment: cover;
  -o-background-attachment: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding-top: 5vh;
}
#section_five{
	background: url("http://89.35.238.250/assets/detoxifiere_curcumin95_bioperine_md.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding-top: 5vh;
	background-attachment: fixed !important;
  -webkit-background-attachment: cover;
  -moz-background-attachment: cover;
  -o-background-attachment: cover;
}
#section_six{
	background: url("http://89.35.238.250/assets/stiinta_detoxifiere_tratament_artrita_curcumin95_bioperine_md.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding-top: 5vh;
	background-attachment: fixed !important;
  -webkit-background-attachment: cover;
  -moz-background-attachment: cover;
  -o-background-attachment: cover;
}
#section_seven{
	background: url("http://89.35.238.250/assets/cumpara_antioxidant_antiinflamator_curcumin95_bioperine_md.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding-top: 5vh;
	background-attachment: fixed !important;
  -webkit-background-attachment: cover;
  -moz-background-attachment: cover;
  -o-background-attachment: cover;
}
#section_eight{
	background-image:  url('http://89.35.238.250/assets/pexels-photo-88636.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
	background-position: top center;
}
#menu_mobile{
	display: none;
	height: 60px;
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	right: 0;
	z-index: 1000;
}
#menu_desktop{
	display: inline-block;
	width: 100%;
}
input[type="text"], input[type="number"], input[type="email"], input[type="password"]{
	width: 100%;
	font-size: 1em;
	display: inline-block;
	margin: 0;
	margin-top: 1em;
	padding: 5px;
	padding-left: 30px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #4A758E;
	font-weight: 100;
	color: #4A758E;
	
	box-sizing: border-box;
}


textarea{
	width: 100%;
	font-size: 1em;
	display: inline-block;
	margin: 0;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding: 5px;
	padding-left: 30px;
	background-color: transparent;
	border: none;
	border: 1px solid  #4A758E;
	font-weight: 200;
	color: #4A758E;
	resize: none;
	box-sizing: border-box;
	
}

input[type="submit"]{
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    line-height: 1.42rem;
    list-style: none outside none;
    text-decoration: none;
    text-indent: 0;
    cursor: pointer;
	width: 100%;
	font-size: 1.2em;
	display: inline-block;
	margin: 0;
	padding: 5px;
	padding-left: 30px;
	background-color: #6083A3;
	font-weight: 100;
	color: #fff;
}





input[type="submit"]:hover{
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    line-height: 1.42rem;
    list-style: none outside none;
    text-decoration: none;
    text-indent: 0;
	
	width: 100%;
	font-size: 1.2em;
	display: inline-block;
	margin: 0;
	padding: 5px;
	padding-left: 30px;
	background-color: #4A758E;
	font-weight: 100;
	color: #fff;
	border: none;
	
}


a[href^="tel"]{
    color:inherit !important;
    text-decoration:none !important;
}
a[href^="mailto"]{
    color:inherit !important;
    text-decoration:none !important;
}
.left-icon{
	font-size: 1.2em;
	line-height: 1.2em;
	display: inline-block;
	width: 100%;
	text-align: left;
	padding: 10px;
	margin: 5px;
	margin-left: 50px;
}
.left-icon::before{
	content: '';
	height: 50px;
	width: 50px;
	position: absolute;
	left: 0;
	right: auto;
	top:0;
	bottom: 0;
	margin: auto;
}
.email::before{
	background: url("http://89.35.238.250/assets/icons/1492628761__email.png") no-repeat center center; 
	background-size: contain;
	content: '';
}
.phone::before{
	background: url("http://89.35.238.250/assets/icons/1492628712__viber.png") no-repeat center center; 
	background-size: contain;
	content: '';
}
.address::before{
	background: url("http://89.35.238.250/assets/icons/1492628644__location.png") no-repeat center center; 
	background-size: contain;
	content: '';
}
.telefon{
position:relative;
margin-left:80px;
	width: 100%;
	box-sizing: border-box;
	display: block;
	text-align: left;
}
.telefon::before {
    background:url(http://89.35.238.250/assets/icons/1492628712__viber.png);
    content:"";
    display:inline-block;
    height:40px;
    width:40px;
    position:absolute;
    left:-80px;
    top:0;
    bottom:0;
    margin:auto;
	background-size: contain;
}
	
.email{
position:relative;
margin-left:80px;
	width: 100%;
	box-sizing: border-box;
	display: block;
	text-align: left;
}
.email::before {
    background:url(http://89.35.238.250/assets/icons/1492628761__email.png);
    content:"";
    display:inline-block;
    height:40px;
    width:40px;
    position:absolute;
    left:-80px;
    top:0;
    bottom:0;
    margin:auto;
	background-size: contain;
}




.locatie{
position:relative;
margin-left:80px;
	width: 100%;
	box-sizing: border-box;
	display: block;
	text-align: left;
}
.locatie::before {
    background:url(http://89.35.238.250/assets/icons/1492628644__location.png);
    content:"";
    display:inline-block;
    height:40px;
    width:40px;
    position:absolute;
    left:-80px;
    top:0;
    bottom:0;
    margin:auto;
	background-size: contain;
}
	

	
#contact_left{
		width: 60%;
		display: inline-block !important;
		float: left !important;
		position: relative !important;
	}
#contact_right{
		width: 40%;
		display: inline-block !important;
		float: left !important;
		position: relative !important;
		padding-top: 5vh; margin-top: 9em;
	}	
@media screen and (max-width: 1400px){
	#menu_desktop{
		display: none !important;
	}
	#menu_mobile{
		display: inline-block !important;
		height: 40px;
		width: 100%;
		position: fixed;
		top:0;
		left:0;
		right: 0;
		z-index: 1000;
	}

}
@media screen and (max-width: 1400px){
	#menu_desktop{
		display: none !important;
	}
	#menu_mobile{
		display: inline-block !important;
		height: 40px;
		width: 100%;
		position: fixed;
		top:0;
		left:0;
		right: 0;
		z-index: 1000;
	}

	#section_two .container-full-responsive::before{
		background-image: none !important;
	}
	
	.container-35-50{
	   width: 50% !important;
		max-width: 700px !important;
    }
	.container-35-50::before{
		background: url("http://89.35.238.250/assets/flacon_left.png") no-repeat center center;
		background-size:contain;
		background-position: right center;
		content: '';
		width: 45vw;
		height: 100vh;
		right: -50vw;
		margin: auto;
		padding: 0;
		top:0;
		bottom: 0;
		position: absolute;
		z-index: -0;
	}
	.container-35-50::after{
		background: url("http://89.35.238.250/assets/flacon_right.png") no-repeat center center;
		background-size:contain;
		background-position: left center;
		content: '';
		width: 45vw;
		height: 100vh;
		left: -50vw;
		margin: auto;
		padding: 0;
		top:0;
		bottom: 0;
		position: absolute;
		z-index: -0;
	}
	.container-35-50.float-right{
		clear: left;
	}
	.container-35-50.float-left{
		clear: right;
	}
	.container-40-80-responsive{
		width: 90vw;
		max-width: 630px;
		padding-right: 50px;
		height: auto;
		display: block;
		position: relative;
		left: 0;
		float: none;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10vh;
		margin-bottom: 0;
		background-color:transparent;
	}
}





@media only screen and (max-width:1400px){
	#contact_left{
		width: 100% !important;
		display: inline-block !important;
		clear: both !important;
		float: left !important;
		position: relative !important;
	}
	#contact_right{
		width: 100% !important;
		display: inline-block !important;
		clear: both !important;
		float: left !important;
		position: relative !important;
		  padding-top: 0 !important; margin-top: 0 !important;
	}
	.telefon{
position:relative;
margin-left:30px;
	width: 100%;
	box-sizing: border-box;
	display: block;
	text-align: left;
		font-size: 1em;
}
.telefon::before {
    background:url(http://89.35.238.250/assets/icons/1492628712__viber.png);
    content:"";
    display:inline-block;
    height:20px;
    width:20px;
    position:absolute;
    left:-30px;
    top:0;
    bottom:0;
    margin:auto;
	background-size: contain;
}
	
.email{
position:relative;
margin-left:30px;
	width: 100%;
	box-sizing: border-box;
	display: block;
	text-align: left;
	font-size: 1em;
}
.email::before {
    background:url(http://89.35.238.250/assets/icons/1492628761__email.png);
    content:"";
    display:inline-block;
    height:20px;
    width:20px;
    position:absolute;
    left:-30px;
    top:0;
    bottom:0;
    margin:auto;
	background-size: contain;
}




.locatie{
position:relative;
margin-left:30px;
	width: 100%;
	box-sizing: border-box;
	display: block;
	text-align: left;
	font-size: 1em;
}
.locatie::before {
    background:url(http://89.35.238.250/assets/icons/1492628644__location.png);
    content:"";
    display:inline-block;
    height:20px;
    width:20px;
    position:absolute;
    left:-30px;
    top:0;
    bottom:0;
    margin:auto;
	background-size: contain;
}

}
@media only screen and (max-device-width: 1400px) 
  and (orientation: portrait) { 
  
	  #menu_desktop{
		  display: none !important;
	  }
	  #menu_mobile{
		display: inline-block !important;
   		height: 40px;
		width: 100%;
		position: fixed;
		top:0;
		left:0;
		right: 0;
		z-index: 1000;
	}

	 
}
@media only screen and (max-device-width: 1400px) 
  and (orientation: landscape) { 
  
	  #menu_desktop{
		  display: block !important;
	  }
	  #menu_mobile{
		display: none!important;
		height: 40px !important;
	}
	 
}

@media only screen and (max-width:1200px){
	#section_eight{
		   
		   background-image: none !important; 
		   background-color: #000 !important;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; 
	background-position: top left;		   
	   }
	
	#background-eight{
		display: inline-block;
	}

}

@media print   {  
  a:after {  
    content: " [" attr(href) "] ";  
  }  
}
