/* CSS Document */
/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
	  
	  

}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {

	  #section_one{
		  background:url(http://89.35.238.250/assets/antioxidant_antiinflamator_curcumin95_bioperine_md.jpg)no-repeat center top fixed !important;
	  }
	  
	  
}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 

	  
	  
	   #section_three{
		   
		    background-image: none;  
		   background-color: #010006;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; 
	background-position: top left;
		   
	   }
	  
	   #section_seven{
	background-image: none; 
		   background-color: #bf634c;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; 
	background-position: top left;
}
	   
	   
	   #section_four{
		   background-image: none; 
		   background-color: #01241e;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; 
	background-position: top left;
	   }
	   
	  
	  #section_five{
		     background-image: none; 
		   background-color: #000;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; 
	background-position: top left;
	  }
	  #section_five h1,h2{
		  font-size: 2.5em;
	  }
	  
	  
	                                        /* anaaa!! negru */
	   #section_eight{
		   
		   background-image: none !important; 
		   background-color: #000 !important;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; 
	background-position: top left;
		   
		   
	   }
	   
	   
	   .responsive-background{
		display: inline-block;
	}
	
	  
}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape) { 
	  
	  
	  #section_three p{
		  font-size: 1.3em!important;
	  }
	  
	  

}

