<p>Salut <%= @resource.email %>!</p>

<p>Urmareste link-ul de mai jos ca sa-ti schimbi parola.</p>

<p><%= link_to 'Schimba parola', edit_password_url(@resource, reset_password_token: @token) %></p>
<!--
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
-->	