<footer style="text-align: center;">
        <br><br><br>
<!--
        <span class="link-focus-grey small" style="margin:20px; margin-bottom: 20px; display: inline-block;">Despre noi</span>
        -->
  <a href='http://www.anpc.gov.ro/' target="_blank">
        <span class="link-grey small" style="margin:20px; margin-bottom: 20px; display: inline-block;">ANPC</span>
        </a>
    <span class="link-grey small" style="margin:20px; margin-bottom: 20px; display: inline-block;" onclick='show_modal("modal_termeni")'>Termeni si conditii</span>
<a href='https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.show&lng=RO' target="_blank">
    <span class="link-grey small" style="margin:20px; margin-bottom: 20px; display: inline-block;">Solutionarea online a litigiilor</span><br>
</a>
        <br><br>
        <%= image_tag ("Logo-IanaLife_6969.png"), style: "height:170px;" %>
        
    <br><br><br>
    
    
    
  </footer>


  



  <div class="modal" id="modal_termeni">
    <div class="longcontent">
       
        
         <div id="modal1_close" class="float-right slim-button small tc-black-light" onClick="hide_modal('modal_termeni');" style="padding-left: 10px; padding-right: 10px; padding-top: 1px; padding-bottom: 1px;">X</div>
        

<br><br>
<h1 class= "align-left tc-blue" style="font-size: 1.5em;">Termeni si Conditii de utilizare a site-ului Curcumin95.ro</h1>
        <p>&nbsp;</p>
<div style="font-size: 0.8em;">
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<ol style="text-align: left;">
<li><strong> Introducere</strong></li>
</ol>
<p style="text-align: left;">Website-ul&nbsp;<strong><u>www.Curcumin95.ro</u></strong>&nbsp;este
 operat de IANALIFE&nbsp;SRL, o societate cu raspundere limitata 
organizata si functionand in conformitate cu legile din Romania, avand 
sediul social in Bucuresti, Calea Victoriei, nr.31, sc. B, et. 1, ap. 9,
 sect. 1, inregistrata la Registrul Comertului Bucuresti sub nr. 
J40/13020/2014, cod unic de inregistrare 33781498, numar de telefon 
0725.01.33.99 si adresa de e-mail contact@Curcumin95.ro.</p>
<p style="text-align: left;">Prezentul document stabileste termenii si conditiile de utilizare a website-ului&nbsp;<strong><u>www.Curcumin95.ro</u></strong>&nbsp;(denumit
 in continuare “Website”) si conditiile de achizitionare a produselor 
comercializate prin intermediul acestui Website (denumit in continuare 
„Termenii si Conditiile”).</p>
<p style="text-align: left;">Politica de retur, Politica de confidentialitate, Politica privind modulele cookie&nbsp;<strong><u>www.Curcumin95.ro</u></strong>,
 precum si orice alte documente la care se face referire in cuprinsul 
acestui document, fac parte din Termeni si Conditii. Prin utilizarea 
Website-ului si prin logarea in cadrul acestuia acceptati Termenii si 
Conditiile detaliate mai jos, cu toate consecintele care decurg din 
acceptarea acestora. Prin acceptarea Termenilor si a Conditiilor, 
sunteti, de asemenea, de acord cu Politica de retur, Politica de 
confidentialitate, Politica privind modulele cookie&nbsp;<strong><u>www.Curcumin95.ro</u></strong>,
 precum si cu toate celelalte documente mentionate in cuprinsul 
prezentului document. Daca nu sunteti de acord cu Termenii si 
Conditiile, va rugam sa nu utilizati acest Website.</p>
<p style="text-align: left;">Va rugam sa cititi cu atentie Termenii si 
Conditiile inainte de a utiliza acest Website si de a efectua orice 
comanda prin intermediul acestuia.</p>
<p style="text-align: left;">Curcumin95.ro isi rezerva dreptul de a 
modifica in orice moment Termenii si Conditiile, fara o notificare 
prealabila. Curcumin95.ro isi rezerva dreptul de a modifica sau de a 
adauga noi reguli si restrictii in ceea ce priveste continutul 
Website-ului, in orice moment, fara o notificare prealabila.</p>
<p style="text-align: left;">Orice modificari aduse Termenilor si 
Conditiilor vor intra in vigoare numai pentru comenzile noi, 
inregistrate dupa publicarea modificarilor respective pe acest Website. 
Astfel, va rugam sa verificati sectiunea aferenta Termenilor si 
Conditiilor, inainte de fiecare comanda, pentru ca este posibil sa fi 
intervenit modificari de la ultima vizita.</p>
<p style="text-align: left;">Daca aveti orice intrebari cu privire la Termeni si Conditii va rugam sa ne contactati prin modalitatile mentionate aici:<strong><u>http://www.Curcumin95.ro/contact</u></strong></p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<ol style="text-align: left;" start="2">
<li><strong> Preambul</strong></li>
</ol>
<p style="text-align: left;">Prezentele Termeni si Conditii se aplica 
exclusiv intre Curcumin95.ro si orice persoana care viziteaza 
Website-ul, denumita in continuare ‘<em>Utilizator</em>’, sau achizitioneaza produse de pe Website, denumita in continuare “Cumparator” de pe Website, denumite in mod colectiv ‘<em>Partile</em>’.</p>
<p style="text-align: left;">Prin utilizarea acestui Website confirmati 
ca sunteti major sau ca ati primit permisiunea parintilor si ca aveti 
capacitatea juridica de a incheia un contract si de a plasa ulterior o 
comanda pe Website.</p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<ol style="text-align: left;" start="3">
<li><strong> Definitii</strong></li>
</ol>
<p style="text-align: left;">Termenii si Conditiile se vor aplica 
tuturor vanzarilor de produse comercializate de catre Curcumin95.ro, 
prin intermediul Website-ului. In cuprinsul Termenilor si Conditiilor, 
termenii de mai jos vor avea urmatoarea semnificatie:</p>
<p style="text-align: left;"><strong>Utilizator&nbsp;</strong>– orice persoana fizica sau juridica care acceseaza, in orice mod, Website-ul Curcumin95.ro.</p>
<p style="text-align: left;"><strong>Cumparatorul&nbsp;</strong>– orice persoana fizica sau juridica care isi face un Cont in Site si efectueaza o Comanda online pe acest site web.</p>
<p style="text-align: left;"><strong>Vanzatorul</strong>&nbsp;– Curcumin95.ro.</p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<p style="text-align: left;"><strong>Comanda</strong>&nbsp;– solicitarea
 transmisa de catre Cumparator, prin parcurgerea etapelor tehnice 
necesare, in vederea achizitionarii de Produse comercializate online, in
 conditiile prevazute de Termeni si Conditii, de catre Curcumin95.ro.</p>
<p style="text-align: left;"><strong>Produs</strong>&nbsp;– orice bun 
comercializat de catre Curcumin95.ro pe acest Website, solicitat de 
catre Cumparator prin Comanda inregistrata care urmeaza sa fie livrat de
 catre Vanzator, in conditiile prevazute in Termeni si Conditii.</p>
<p style="text-align: left;"><strong>Contract</strong>&nbsp;– contractul
 incheiat de catre Cumparator, in conformitate cu Termenii si Conditiile
 expres acceptate de acesta si Curcumin95.ro, la momentul confirmarii de
 catre Curcumin95.ro, pe un suport durabil, a Comenzii transmise de 
catre Cumparator.</p>
<p style="text-align: left;"><strong>Sectiune</strong>&nbsp;– o sectiune de pe Website</p>
<p style="text-align: left;"><strong>Newsletter</strong>&nbsp;– mijlocul
 de informare periodic, exclusiv electronic, respectiv posta electronica
 (e-mail, SMS), asupra produselor si/sau promotiilor desfasurate de 
catre Curcumin95.ro intr-o anumita perioada, fara nici un angajament din
 partea Curcumin95.ro cu referire la informatiile continute de acesta.</p>
<p style="text-align: left;"><strong>Tranzactie</strong>&nbsp;– incasare
 sau rambursare a unei sume rezultata din vanzarea unui produs de catre 
Curcumin95.ro catre Cumparator, prin utilizarea serviciilor 
procesatorului de carduri agreat de catre Curcumin95.ro, indiferent de 
modalitatea de livrare;</p>
<p style="text-align: left;"><strong>Continut</strong>&nbsp;are urmatoarea definitie:</p>
<ul style="text-align: left;">
<li>&nbsp;toate informatiile de pe Website care pot fi vizitate, 
vizualizate sau accesate prin utilizarea unui echipament electronic;</li>
<li>&nbsp;continutul oricarui e-mail trimis Utilizatorilor si/sau 
Cumparatorilor de catre Curcumin95.ro prin mijloace electronice si/sau 
orice alt mijloc de comunicare disponibil;</li>
<li>&nbsp;orice informatie comunicata prin orice mijloc de catre 
Curcumin95.ro Utilizatorului si/sau Cumparatorului, conform datelor de 
contact, specificate sau nu de catre acesta;</li>
<li>&nbsp;informatii legate de produsele si/sau tarifele practicate de Curcumin95.ro intr-o anumita perioada;</li>
</ul>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<p style="text-align: left;"><strong>Campanie –&nbsp;</strong>actiunea 
de a expune in scop comercial, exclusiv in mod electronic si doar prin 
intermediul Website-ului un numar finit de produse avand un stoc limitat
 si predefinit, pentru o perioada limitata de timp stabilita de catre 
Curcumin95.ro.</p>
<p style="text-align: left;"><strong>Specificatii</strong>&nbsp;– toate specificatiile si/sau descrierile Produselor si/sau Serviciilor asa cum sunt precizate pe Website.</p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<ol style="text-align: left;" start="4">
<li><strong> Documente contractuale</strong></li>
</ol>
<p style="padding-left: 30px; text-align: left;"><strong>a)&nbsp;</strong>Prin
 inregistrarea unei Comenzi pe site, Cumparatorul este de acord cu forma
 de comunicare (telefonic sau e-mail) prin care Vanzatorul isi deruleaza
 operatiunile comerciale.</p>
<p style="padding-left: 30px; text-align: left;"><strong>&nbsp;</strong></p>
<p style="padding-left: 30px; text-align: left;"><strong>b)</strong>Notificarea
 primita de catre Cumparator, dupa efectuarea Comenzii are rol de 
informare si nu reprezinta acceptarea Comenzii. Aceasta notificare se 
face electronic (e-mail automat trimis de site), prin sms sau telefonic.</p>
<p style="padding-left: 30px; text-align: left;"><strong>&nbsp;</strong></p>
<p style="padding-left: 30px; text-align: left;"><strong>c)</strong>Pentru
 motive justificate, Vanzatorul isi rezerva dreptul de a modifica 
cantitatea Produselor din Comanda. Daca modifica cantitatea de Produse 
din Comanda Vanzatorul&nbsp;va anunta Cumparatorul pe adresa de e-mail 
sau la numarul de telefon puse la dispozitia Vanzatorului la efectuarea 
Comenzii. Daca clientul nu este de acord cu noua Comanda acesta o poate 
modifica/anula, iar Vanzatorul va returna suma platita de Cumparator in 
maxim 30 de zile de la confirmarea modificarii/anularii comenzii. Pentru
 plata cu cardul, daca valoarea comenzii modificate este mai mare ca 
valoarea comenzii initiale, Cumparatorul va trebui sa initieze o noua 
comanda.</p>
<p style="padding-left: 30px; text-align: left;"><strong>&nbsp;</strong></p>
<p style="padding-left: 30px; text-align: left;"><strong>d)</strong><strong>Contractul
 se considera incheiat intre Vanzator si Cumparator in momentul primirii
 de catre Cumparator de la Vanzator, prin intermediul postei electronice
 si/sau SMS a notificarii de expediere a Comenzii.</strong></p>
<p style="padding-left: 30px; text-align: left;"><strong>&nbsp;</strong></p>
<p style="padding-left: 30px; text-align: left;"><strong>e)</strong>Informatiile
 puse la dispozitie de catre Vanzator pe Website vor sta la baza 
Contractului, in completarea acestuia putand fi si alte documente cum ar
 fi certificatul de garantie si/sau certificatul de conformitate emis de
 catre Vanzator pentru Produsele achizitionate.</p>
<p style="padding-left: 30px; text-align: left;"><strong>5.&nbsp;</strong><strong>Informatii despre comenzile online</strong></p>
<p style="text-align: left; padding-left: 30px;"><strong>a)&nbsp;</strong>ro
 ia toate masurile pentru ca informatiile publicate pe site, inclusiv 
descrierea Produselor precum si preturile listate, sa fie, in orice 
moment, corecte si complete. Cu toate acestea, se pot face si greseli. 
In asemenea situatii, Curcumin95.ro va incerca sa inlature toate erorile
 survenite in cel mai scurt timp posibil. In cazul in care Curcumin95.ro
 constata ca eroarea respectiva a afectat/influentat Comanda 
dumneavoastra sau Contractul valabil incheiat, va incerca sa va 
informeze in cel mai scurt timp posibil, oferindu-va atat posibilitatea 
reconfirmarii Comenzii sau a Contractului, cat si posibilitatea anularii
 acesteia/acestuia.</p>
<p style="text-align: left; padding-left: 30px;"><strong>&nbsp;</strong></p>
<p style="text-align: left; padding-left: 30px;"><strong>b)</strong>Va 
rugam sa aveti in vedere ca achizitionarea produselor pe site ofera o 
experienta diferita de cea din magazinele fizice. In special, trebuie sa
 stiti ca:</p>
<p style="text-align: left; padding-left: 30px;">Culorile Produselor, 
astfel cum sunt prezentate pe Website, pot fi diferite in realitate, 
pentru ca depind de mai multi factori, inclusiv, dar fara a se limita 
la, setarile monitorului dumneavoastra;</p>
<p style="text-align: left; padding-left: 30px;">Dimensiunile si forma 
Produselor pot fi diferite in realitate fata de modul in care apar pe 
Website, de aceea, va rugam sa aveti in vedere ca este responsabilitatea
 dumneavoastra sa verificati ca marimea reala a fiecarui Produs sa 
corespunda scopului pentru care ati achizitionat respectivul Produs;</p>
<p style="text-align: left; padding-left: 30px;">Fotografiile si 
imaginile de pe Website au doar rol ilustrativ/orientativ. Pentru o 
descriere exacta a Produsului si a detaliilor incluse, trebuie sa cititi
 cu atentie descrierea corespunzatoare a Produsului sau sa ne contactati
 prin modalitatile mentionate aici:&nbsp;<a href="http://www.imuno4life.ro/contact/"><strong>http://www.Curcumin95.ro/contact</strong></a>;</p>
<p style="text-align: left; padding-left: 30px;">Produsele vor fi 
livrate numai in masura in care sunt disponibile, existand astfel riscul
 ca Curcumin95.ro sa nu poata livra Comanda. De asemenea, 
&nbsp;Curcumin95.ro isi rezerva dreptul de a retrage orice Produs de la 
vanzare, in orice moment. In asemenea situatii, singura responsabilitate
 a Curcumin95.ro fata de dumneavoastra este rambursarea integrala a 
sumelor platite pentru respectivele Produse pe care nu le mai poate 
furniza/le-a retras de la comercializare;</p>
<p style="text-align: left; padding-left: 30px;">Curcumin95.ro depune 
toate eforturile pentru a expedia Produsele aflate pe stoc in cel mai 
scurt timp posibil, 1-2 zile lucratoare.</p>
<p style="text-align: left; padding-left: 30px;">Curcumin95.ro isi 
rezerva dreptul de a ajusta in mod liber si cu respectarea prevederilor 
legale, preturile si ofertele speciale practicate.</p>
<p style="text-align: left; padding-left: 30px;"><strong>&nbsp;</strong><strong>c)</strong>Nu
 este permisa utilizarea acestui Website in scopul introducerii in mod 
deliberat de virusi sau orice alt program sau material care poate fi 
tehnic daunator sau distructiv. Sunt interzise incercarile de acces 
neautorizat la acest Website, la serverul pe care este gazduit acesta 
sau la orice alt server, calculator sau baza de date in legatura cu 
acest site web. Prin acceptarea Termenilor si Conditiilor va angajati sa
 nu atacati acest Website prin intermediul unui atac de blocare a 
serviciului sau de blocare distribuita a serviciului.</p>
<p style="text-align: left; padding-left: 30px;">Nerespectarea 
dispozitiilor din prezenta clauza va fi raportata autoritatilor 
competente in vederea aplicarii sanctiunilor legale si va determina 
suspendarea imediata a dreptului de a utiliza acest Website.</p>
<p style="text-align: left; padding-left: 30px;">Curcumin95.ro, desi 
depune toate eforturile pentru a asigura o navigare sigura pe Website, 
nu garanteaza ca acesta, serverele pe care este gazduit sau e-mailurile 
trimise sunt fara virusi sau alte componente informatice cu caracter 
potential daunator, ca nu contine erori, omisiuni, defectiuni, 
intarzieri sau intreruperi in operare sau transmitere, caderi de linie 
sau orice alti factori similari. Va rugam sa aveti in vedere ca folositi
 Website-ul pe riscul propriu, Curcumin95.ro nefiind in niciun fel 
responsabila pentru eventualele daune directe sau indirecte cauzate de 
utilizarea sau accesarea/vizitarea Website-ului sau ca urmare a 
utilizarii informatiilor de pe Website.</p>
<p style="text-align: left; padding-left: 30px;">Curcumin95.ro nu 
raspunde de erorile sau omisiunile care pot interveni in redactarea sau 
prezentarea materialelor de pe site, fara ca prin aceasta prevedere sa 
fie afectate drepturile de care beneficiati, in temeiul legii. Astfel, 
este in avantajul dumneavoastra sa va asigurati ca aveti instalate 
sisteme adecvate de aparare, menite sa va protejeze calculatorul de 
virusi si/sau orice alt continut daunator.</p>
<p style="text-align: left; padding-left: 30px;">Curcumin95.ro isi 
rezerva dreptul de a anula Comenzile care privesc Produse afisate pe 
Website ca urmare a unor erori tehnice sau care, din cauza unor erori 
tehnice, prezinta preturi evident eronate/derizorii (preturi care pot 
fi, in mod rezonabil, apreciate ca eronate/derizorii de catre 
consumatorul mediu), cu consecinta restituirii intregii sume platite de 
Cumparator in considerarea comenzilor anulate, daca este cazul.</p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<p style="text-align: left; padding-left: 30px;"><strong>d)</strong> 
Curcumin95.ro are dreptul, in orice moment, sa modifice, sa suspende sau
 sa inceteze comercializarea produselor online, partial sau in 
totalitate, temporar sau permanent, cu sau fara notificare prealabila. 
Curcumin95.ro nu va fi responsabila pentru nicio modificare, suspendare 
sau intrerupere a disponibilitatii serviciului de comenzi online, fara 
ca prin aceasta prevedere sa se aduca atingere drepturilor pe care legea
 le recunoaste consumatorilor. De asemenea, Comenzile online valabil 
confirmate de catre Curcumin95.ro, anterior operatiunilor de modificare,
 suspendare sau incetare dispuse, vor fi in mod corespunzator executate 
de Curcumin95.ro.<strong>&nbsp;</strong></p>
<p style="text-align: left; padding-left: 30px;"><strong>e) </strong>Curcumin95<strong>.</strong>ro
 va asigura confidentialitatea datelor dumneavoastra, respectiv a 
datelor de autentificare, parolei si tuturor celorlalte detalii in 
legatura cu contul creat pe website-ul&nbsp;<a href="http://www.imuno4life.ro/"><strong>www.Curcumin95.ro</strong></a>,
 in conformitate cu Politica de confidentialitate. Cu toate acestea, 
este si responsabilitatea dumneavoastra sa va asigurati ca informatiile 
privind contul creat pe Website raman confidentiale in orice moment si 
ca nu vor fi transmise catre terti. Prin acceptarea Termenilor si 
Conditiilor sunteti de acord sa informati Curcumin95.ro in cel mai scurt
 timp posibil daca aveti, in mod rezonabil, suspiciuni ca securitatea 
contului dumneavoastra este in pericol.</p>
<p style="text-align: left; padding-left: 30px;"><strong>&nbsp;</strong><strong>f)</strong>Va
 rugam sa aveti in vedere ca puteti face o comanda valabila pe Website 
numai daca ati implinit varsta de 18 ani si doriti ca Produsele sa fie 
livrate pe teritoriul Romaniei. Este nevoie in mod necesar de o adresa 
de email valabila/activa si un numar de telefon la care puteti fi 
contactat cu usurinta.</p>
<p style="text-align: left; padding-left: 30px;"><strong>&nbsp;</strong><strong>g)</strong>Comercializarea online a Produselor are loc in sistem en-detail (comert cu amanuntul).</p>
<ol style="text-align: left;" start="6">
<li><strong> Prelucrarea datelor cu caracter personal</strong></li>
</ol>
<p style="text-align: left; padding-left: 30px;"><strong>a)</strong>ro 
este inregistrata la Autoritatea Nationala de Supraveghere a Prelucrarii
 Datelor cu Caracter Personal ca operator de date cu caracter personal 
sub numarul 34799.</p>
<p style="text-align: left; padding-left: 30px;"><strong>b)</strong>Datele dumneavoastra cu caracter personal sunt prelucrate in conformitate cu Politica de confidentialitate.</p>
<p style="text-align: left; padding-left: 30px;"><strong>&nbsp;</strong></p>
<p style="text-align: left; padding-left: 30px;"><strong>c)&nbsp;</strong>Prin
 completarea formularelor specifice de pe Website, pentru crearea unui 
cont, transmiterea unei Comenzi si altele, va exprimati consimtamantul 
expres ca datele dumneavoastra cu caracter personal sa fie prelucrate de
 catre Curcumin95.ro in scopurile mentionate. Refuzul furnizarii datelor
 solicitate de catre Curcumin95.ro pentru efectuarea unei Comenzi, 
determina imposibilitatea Curcumin95.ro de a livra Comenzile respective.</p>
<p style="text-align: left; padding-left: 30px;"><strong>d)</strong>In 
cazul in care va modificati, prin utilizarea formularelor de pe Website,
 datele personale furnizate deja catre&nbsp; Curcumin95.ro si exista 
Comenzi in derulare, Comenzile respective isi pastreaza datele de la 
momentul efectuarii Comenzii, iar livrarea Produselor se va face 
neluandu-se in considerare noile date. Curcumin95.ro nu va solicita, 
prin niciun mijloc de comunicare (telefon/e-mail etc.) informatii 
confidentiale, parole personale etc. In cazul in care dumneavoastra 
divulgati astfel de date catre terti, acestia poarta intreaga 
responsabilitate pentru propriile actiuni. In asemenea situatii, 
Curcumin95.ro nu va fi responsabila pentru niciun fel de prejudiciu.</p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<ol style="text-align: left;" start="7">
<li><strong> Inregistrarea ca utilizator</strong></li>
</ol>
<p style="text-align: left; padding-left: 30px;"><strong>a)</strong>Daca vizitati Website-ul, chiar daca nu achizitionati produse, aveti calitatea de utilizator.</p>
<p style="text-align: left; padding-left: 30px;"><strong>b)</strong>Pentru a putea achizitiona produse trebuie sa va inregistrati pe Website, prin crearea unui cont.</p>
<p style="text-align: left; padding-left: 30px;"><strong>c)&nbsp;</strong>Puteti gasi informatiile necesare cu privire la inregistrare in sectiunea “Intra in cont”.</p>
<p style="text-align: left; padding-left: 30px;"><strong>d)&nbsp;</strong>ro
 poate refuza solicitarea de inregistrare in masura in care constata ca 
informatiile furnizate sunt in mod vadit neconforme cu realitatea.</p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<ol style="text-align: left;" start="8">
<li><strong> Comenzi</strong></li>
</ol>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<p style="text-align: left;"><strong>Plasarea unei Comenzi</strong></p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<p style="text-align: left; padding-left: 30px;"><strong>a)</strong>Utilizatorul va consulta sectiunea “<strong><em>Cum comand?”</em></strong>pentru
 a obtine toate informatiile relevante despre etapele efectuarii unei 
Comenzi. Inregistrarea Comenzii constituie o oferta de achizitionare a 
produselor de la Vanzator, supusa confirmarii sale ulterioare.</p>
<p style="text-align: left; padding-left: 30px;"><strong>b)</strong>La plasarea unei Comenzi, vi se va cere sa urmati mai multe etape:</p>
<ul>
<li style="text-align: left;">– adaugati produsele alese in cos;</li>
<li style="text-align: left;">– selectati modalitatea si adresa de livrare;</li>
<li style="text-align: left;">– selectati metoda de plata;</li>
<li style="text-align: left;">– efectuati plata, cu exceptia platii ramburs;</li>
</ul>
<p style="text-align: left; padding-left: 30px;"><strong>c)&nbsp;</strong>Odata
 inregistrata, Comanda nu mai poate fi modificata de catre Cumparator. 
In cazul in care doriti sa modificati/anulati comanda va rugam sa ne 
contactati prin modalitatile mentionate aici:&nbsp;<a href="http://www.imuno4life.ro/contact/"><strong>http://www.Curcumin95.ro/contact</strong></a>.</p>
<p style="text-align: left; padding-left: 30px;"><strong>d)</strong>Dupa
 efectuarea Comenzii veti primi un e-mail automat cu privire la 
detaliile Produselor comandate, costul total al Comenzii, inclusiv 
costurile de livrare, precum si un numar de identificare a Comenzii. 
Cumparatorului i se va aduce la cunostinta disponibilitatea produselor 
prin e-mail sau telefon in maxim 48 de ore, cu exceptia sarbatorilor 
legale.</p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<p style="text-align: left; padding-left: 30px;"><strong>e)</strong>Transmiterea
 Comenzii de catre Cumparator si primirea emailului mentionat mai sus, 
reprezinta doar o confirmare a faptului ca aceasta Comanda a fost 
receptionata de Curcumin95.ro si nu formeaza un contract cu caracter 
obligatoriu.</p>
<p style="text-align: left; padding-left: 30px;"><strong>Formarea contractului</strong></p>
<p style="text-align: left; padding-left: 30px;"><strong>&nbsp;</strong><strong>f)&nbsp;</strong>curcumin95<strong>.</strong>ro
 va depune toate eforturile pentru livrarea tuturor Produselor 
comandate, dar isi rezerva dreptul, fara a prezenta motivele aferente, 
sa refuze o Comanda (inainte de a o fi acceptat). In cazul in care 
Comanda este refuzata de Curcumin95.ro, Cumparatorul va fi anuntat pe 
mail asupra acestui lucru.</p>
<p style="text-align: left; padding-left: 30px;"><strong>g)&nbsp;</strong>De
 indata ce Comanda dumneavoastra e gata sa fie expediata, Curcumin95.ro 
va va trimite un e-mail de confirmare a expedierii Comenzii sau va va 
contacta telefonic. Contractul se considera valabil incheiat la momentul
 confirmarii expedierii de catre Curcumin95.ro, pe un suport durabil, 
respectiv prin transmiterea e-mailului care confirma expedierea comenzii
 catre Cumparator.</p>
<p style="text-align: left;"><strong>Preturile</strong></p>
<p style="text-align: left;"><strong>–</strong>&nbsp;Preturile afisate pe site sunt exprimate in lei si includ toate taxele aplicabile.</p>
<p style="text-align: left;"><strong>–&nbsp;</strong>TVA se aplica la valoarea legala de la data comenzii si este inclus in preturile produselor.</p>
<p style="text-align: left;">–&nbsp;Preturile produselor afisate pe 
Website exclud costurile de livrare si costurile altor servicii 
optionale pe care le-ati selectat.</p>
<p style="text-align: left;"><strong>–</strong>&nbsp;Orice alte costuri 
suplimentare vor fi incluse in sumarul comenzii dumneavoastra afisat pe 
ecran inainte de confirmarea finala a comenzii dumneavoastra.</p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<p style="text-align: left;"><strong>Metodele de plata</strong></p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<p style="padding-left: 30px; text-align: left;"><strong>a)</strong>Puteti plati produsele prin card bancar sau ramburs(numerar), in RON.</p>
<p style="text-align: left; padding-left: 30px;"><strong>&nbsp;</strong><strong>b)</strong>Cardurile
 bancare acceptate sunt VISA si MASTERCARD. Platile cu cardul efectuate 
pe Website sunt securizate prin folosirea protocolului Secure Socket 
Layer (SSL), iar platile sunt procesate de <a href="http://www.plationline.ro/" target="_blank">www.Plationline.ro</a>
 in conditii de maxima securitate, fara a se percepe comision 
suplimentar, si va apare pe extrasul de cont al clientului cu numele 
„curcumin95.ro”. Pentru finalizarea corecta a tranzactiei, trebuie sa 
introduceti datele necesare autorizarii Comenzii in platforma de plati 
urmand instructiunile furnizate de aceasta platforma. Curcumin95.ro nu 
solicita si nu stocheaza nici un fel de detalii referitoare la cardul 
dumneavoastra.</p>
<p style="text-align: left; padding-left: 30px;"><strong>&nbsp;</strong><strong>c)</strong>Platile
 ramburs se efectueaza la livrarea produselor, catre reprezentantul 
firmei de curierat cu care Curcumin95.ro are incheiat contract.</p>
<p style="text-align: left; padding-left: 30px;"><strong>d)</strong>In 
cazul platii prin card bancar, imediat ce ati plasat Comanda, 
procesatorul de plati al Curcumin95.ro va bloca valoarea comenzii pe 
cardul dvs. Costul produselor selectate va fi debitat din contul 
dumneavoastra bancar de indata ce comanda dumneavoastra sau parte din 
comanda dumneavoastra ce doriti a fi expediata separat, este completa si
 gata de expediere.</p>
<p style="text-align: left; padding-left: 30px;"><strong>e)&nbsp;</strong>In
 cazul in care Comanda este anulata, procesatorul de plati al 
Curcumin95.ro va va debloca valoarea Comenzii in termen de maxim 30 de 
zile de la data anularii Comenzii, in functie de politica bancii dvs.</p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<p style="text-align: left; padding-left: 30px;"><strong>f)</strong>In 
cazul in care se realizeaza un control anti-frauda pentru a asigura 
securitatea operatiunilor cu clientii, Curcumin95.ro va poate cere sa 
furnizati documente cu privire la Comanda prin e-mail, ca si unul sau 
mai multe documente care atesta adresa si/sau copia actului de 
identitate, inainte de confirmarea comenzii dumneavoastra. Comanda 
dumneavoastra este finala numai dupa ce Curcumin95.ro a primit aceste 
documente si a trimis un e-mail de confirmare. In lipsa acestor 
documente sau in cazul in care documentele nu stabilesc identitatea si 
adresa dumneavoastra, Curcumin95.ro isi rezerva dreptul de a nu confirma
 comanda. Curcumin95.ro isi rezerva, de asemenea, dreptul de a respinge o
 comanda in cazul unui litigiu referitor la plata in curs de desfasurare
 sau in cazul in care un Client a comandat un numar neobisnuit de mare 
de produse.</p>
<p style="text-align: left; padding-left: 30px;"><strong>&nbsp;</strong></p>
<p style="text-align: left; padding-left: 30px;"><strong>g)&nbsp;</strong>In
 cazul platilor online Vanzatorul nu poate fi facut responsabil pentru 
niciun alt cost suplimentar suportat de Cumparator, incluzand dar 
nelimitandu-se la comisioane de conversie valutara aplicate de catre 
banca emitenta a cardului acestuia, in cazul in care moneda de emitere a
 acestuia difera de RON. Responsabilitatea pentru aceasta actiune o 
poarta numai Cumparatorul.</p>
<p style="text-align: left;"><strong>Dovada comenzilor si a platii</strong></p>
<p style="text-align: left; padding-left: 30px;"><strong>&nbsp;</strong><strong>h)</strong>Bazele
 noastre electronice de date si cele ale furnizorilor nostri de servicii
 sunt pastrate in conditii adecvate de siguranta si constitue 
dovada&nbsp; tuturor tranzactiilor intre Vanzator si Cumparator. In 
conformitate cu reglementarile aplicabile, pastram comenzile intr-un 
mediu sigur. Puteti accesa comenzile plasate de dumneavoastra pe Website
 accesand sectiunea “<strong>Intra in cont”</strong>. In toate cazurile,
 Vanzatorul sfatuieste Clientii sa pastreze email-ul de confirmare a 
comenzii, precum si pe cel privind efectuarea platii.<strong>&nbsp;</strong></p>
<p style="text-align: left;"><strong>Erori ale preturilor</strong></p>
<p style="padding-left: 30px; text-align: left;"><strong>i)&nbsp;</strong>ro
 va depune toate eforturile pentru ca preturile de pe Website sa fie 
corecte. Cu toate acestea, este posibil sa apara si erori. In cazul in 
care d Curcumin95.ro descopera o eroare legata de pretul unui Produs 
comandat deja de catre Cumparator acesta va fi informat cat mai curand 
posibil despre eroarea produsa. In aceste situatii, Cumparatorul va avea
 optiunea fie de a reconfirma Comanda la pretul corect, fie de a anula 
Comanda.</p>
<p style="text-align: left; padding-left: 30px;">In cazul in care 
Cumparatorul decide anularea Comenzii, dupa ce a fost informat cu 
privire la preturile corecte ale Produselor, insa anterior acestui 
moment a achitat deja pretul Produselor comandate, Curcumin95.ro va 
oferi o rambursare completa in cel mai scurt termen, dar nu mai mult de 
trei zeci (30) de zile calendaristice de la anulare.</p>
<p style="text-align: left; padding-left: 30px;">In cazul in care Cumparatorul nu poate fi contactat,&nbsp;<strong>intr-un termen rezonabil</strong>,
 folosind detaliile de contact pe care le-a furnizat in timpul 
procesului de comanda, Vanzatorul va considera Comanda anulata si 
Cumparatorul va fi notificat despre aceasta prin email.</p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<ol style="text-align: left;" start="9">
<li><strong> Disponibilitate produse</strong></li>
</ol>
<p style="text-align: left;">Va sfatuim sa verificati disponibilitatea 
produselor pe pagina de informatii relevante despre produs. In cazul in 
care un produs comandat nu este disponibil,Curcumin95.ro isi rezerva 
dreptul de a anula comanda, caz in care veti fi notificat in consecinta.</p>
<p style="text-align: left;">Daca plasati o comanda pentru mai multe 
produse dintre care unul nu este disponibil, Curcumin95.ro va va informa
 corespunzator. Restul comenzii va fi procesat si expediat catre dvs. in
 termenul indicat pe Website.</p>
<p style="text-align: left;">Oferte speciale sunt oferte disponibile o perioada limitata de timp, al caror termen de valabilitate va fi precizat pe Website.</p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<ol style="text-align: left;" start="10">
<li><strong> Livrare</strong></li>
</ol>
<p style="text-align: left;">Produsele sunt livrate la adresa furnizata de dumneavoastra in Comanda, doar pe teritoriul Romaniei.</p>
<p style="text-align: left;">Livrarile catre anumite zone (localitati) 
in care firma de curierat agreata de Vanzator nu are agentie 
teritoriala, se vor face la cel mai apropiat oras. Dupa aceea, dvs. 
sunteti responsabil de aranjarea livrarii la locul exact in care va 
aflati. Acest serviciu poate fi supus unei taxe suplimentare, care nu va
 fi platit de catre Vanzator nici in situatia in care beneficiati de 
transport gratuit pentru valoarea comenzii. Transportul gratuit oferit 
de Vanzator pentru comenzile online mai mare de 70 lei, nu acopera 
kilometrii suplimentari, atunci cand livrarea este solicitata intr-o 
zona in care firma de curierat nu se poate deplasa.</p>
<p style="text-align: left;"><b>Expedierea produselor se va face imediat ce ati confirmat telefonic comanda, si livrarea dureaza in medie 24-48 ore.</b></p>
<p style="text-align: left;">Daca sunteti in imposibilitatea de a primi 
articolele livrate, veti fi contactat de catre reprezentantul curierului
 pentru cel mult doua incercari de livrare, intr-un interval de 14 zile.
 Ulterior, coletul va fi returnat Vanzatorului.</p>
<p style="text-align: left;">Curcumin95.ro sfatuieste Clientii sa 
verifice starea aparenta a coletelor la livrare, integritatea acestora. 
In cazul unei probleme (<strong>ambalaj deteriorat sau care lipseste</strong>) dumneavoastra:</p>
<p style="text-align: left;">– trebuie sa descrieti starea coletului refuzat in detaliu pe nota de livrare/AWB;</p>
<p style="text-align: left;">– trebuie sa aveti semnatura operatorului de transport pe nota de livrare/AWB;</p>
<p style="text-align: left;">In situatia in care livrarea nu este 
conforma cu Comanda dvs. Curcumin95.ro va va trimite produsele 
lipsa/deteriorate in cel mai scurt timp posibil sau va va rambursa banii
 , in functie de alegerea dvs.</p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<ol style="text-align: left;" start="11">
<li><a href="http://www.decathlon.ro/img/cms/pdf/Politica_de_retur_ianuarie_2015.pdf"><strong>Politicii de Retur/Drept de retragere</strong></a></li>
</ol>
<p style="text-align: left;">Returnarea produselor, cu exceptia 
problemelor ce tin de garantie, se face pe cheltuiala dumneavoastra. 
Curcumin95.ro nu va va rambursa costurile returnarii produsului.</p>
<p style="text-align: left;">In conformitate cu legislatia in vigoare, 
aveti dreptul de a returna produsele comandate, fara a preciza motivele,
 in termen de 14 &nbsp;zile de la data la care intrati dumneavoastra sau
 o parte terta indicata de dumneavoastra, in posesia fizica a produselor
 (data livrarii produselor).</p>
<p style="text-align: left;">Produsele pot fi returnate, completand 
formularul de retur. Inainte de a returna un produs, citeste cu atentie 
Politica de retur si conditiile de retur specifice produsului.</p>
<p style="text-align: left;">Returul se face in cativa pasi simpli:</p>
<p style="text-align: left;">–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Te asiguri ca produsul indeplineste&nbsp;<strong>conditiile de retur</strong>;</p>
<p style="text-align: left;">–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Completezi&nbsp;<strong>un</strong>&nbsp;<strong>formular de retur</strong>&nbsp;si-l expediezi catre Curcumin95.ro;</p>
<p style="text-align: left;">–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Astepti&nbsp;<strong>aprobarea</strong>&nbsp;cererii de retur din partea Curcumin95.ro;</p>
<p style="text-align: left;">–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Trimiti produsul catre Vanzator;</p>
<p style="text-align: left;">–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Primesti contravaloarea produsului sau alt produs la schimb, dupa caz.</p>
<p style="text-align: left;"><strong>Conditii</strong>&nbsp;pe care trebuie sa le indeplineasca produsele pentru a putea fi returnate:</p>
<p style="text-align: left;">–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sa indeplineasca conditia termenului de 14 zile de la livrare.</p>
<p style="text-align: left;">–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Produsele trebuie sa fie in aceeasi stare in care au fost trimise</p>
<p style="text-align: left;">–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nu 
sunt acceptate la retur produse care au fost purtate, asupra carora au 
fost efectuate interventii neautorizate, au fost deteriorate, zgariate, 
ambalajul a fost rupt sau este incomplet, care prezinta urme de uzura 
sau folosire excesiva, ciobituri, loviri, socuri mecanice.</p>
<p style="text-align: left;">–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Produsele trebuie insotite de toate accesoriile ce v-au fost livrate.</p>
<p style="text-align: left;">–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
Trebuie sa returnezi produsele in ambalajul original, insotite de 
etichetele initiale, intacte, factura care le-a insotit, eventualele 
cadouri ce ti-au fost oferite odata cu acestea.</p>
<p style="text-align: left;">Orice nerespectare a acestor conditii, da 
dreptul Curcumin95.ro sa respinga cererea dumneavoastra de retur. Doar 
produsele retunate ce sunt complete, in stare perfecta si in ambalajul 
original vor fi acceptate. In caz contrar, returnarea va fi considerata 
neconforma si nu veti primi o rambursare de la Curcumin95.ro.</p>
<p style="text-align: left;"><em>&nbsp;</em></p>
<ol style="text-align: left;" start="12">
<li><strong> Dreptul de proprietate al produselor, &nbsp;transmiterea riscurilor, raspundere</strong></li>
</ol>
<p style="text-align: left;">Curcumin95.ro isi va rezerva dreptul de 
proprietate asupra produselor cumparate de Dumneavoastra pana ce v-ati 
indeplinit toate obligatiile, in special plata pretului integral al 
comenzii.</p>
<p style="text-align: left;">In cazul in care ati ales plata ramburs,&nbsp;<strong>proprietatea Produselor va fi transferata la livrare</strong>,
 dupa efectuarea platii din partea Cumparatorului, la adresa indicata in
 Comanda (prin livrare se intelege semnarea de primire a documentului de
 transport furnizat de curier).</p>
<p style="text-align: left;">Vanzatorul nu poate fi responsabil pentru 
daune de orice fel pe care Cumparatorul sau oricare terta parte o poate 
suferi ca rezultat al indeplinirii de catre Vanzator a oricarei din 
obligatiile sale conform Comenzii si pentru daune care rezulta din 
utilizarea Produselor dupa livrare si in special pentru pierderea&nbsp; 
acestora.</p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<p style="text-align: left;">La livrare, documentul care confirma 
executarea corespunzatoare a livrarii trebuie sa fie semnat de catre 
Cumparator. Prin aceasta nu va fi afectat in nici un fel dreptul legal 
al Cumparatorului de a notifica ulterior Curcumin95.ro in cazul in care 
constata un defect sau orice alta lipsa de conformitate a Produselor. 
Refuzul de semnare a documentul de livrare reprezinta refuzul de 
acceptare a Produselor.</p>
<p style="text-align: left;">Dupa semnarea documentelor de livrare, 
Cumparatorul dobandeste posesia fizica a Produselor comandate. Din acest
 moment, Cumparatorul preia toate riscurile asupra Produselor, respectiv
 riscul de pierdere sau de deteriorare.</p>
<p style="text-align: left;"><strong>&nbsp;</strong></p>
<ol style="text-align: left;" start="15">
<li><strong> Drepturile de proprietate intelectuala</strong></li>
</ol>
<p style="text-align: left;">Folosirea, fara acordul expres al Iana Life
 SRL, a oricarui material publicat pe acest Website -curcumin95.ro, se 
pedepseste conform legii. Intregul continut al site-ului curcumin95.ro- 
imagini, texte, grafice, simboluri, elemente de grafica, scripturi, 
programe si alte date – este proprietatea Iana Life SRL si este aparat 
de Legea drepturilor de autor si de legile privind proprietatea 
intelectuala si industriala. Folosirea fara acordul Iana Life SRL a 
oricaror elemente enumerate mai sus se pedepseste conform legilor in 
vigoare.</p>
<ol style="text-align: left;" start="16">
<li><strong> Forta majora si caz fortuit</strong></li>
</ol>
<p style="text-align: left;">Nici una din parti nu va fi raspunzatoare 
pentru neexecutarea obligatiilor sale contractuale, daca o astfel de 
neexecutare este datorata unui eveniment de forta majora sau de caz 
fortuit. Forta majora este evenimentul imprevizibil, in afara 
controlului partilor si care nu poate fi evitat. Cazul fortuit este un 
eveniment care nu poate fi prevazut si nici impiedicat de cel care ar fi
 fost chemat sa raspunda daca evenimentul nu s-ar fi produs.</p>
<p style="text-align: left;"><strong>&nbsp;</strong>Daca in termen de 15
 (cincisprezece) zile de la data producerii lui, respectivul eveniment 
nu inceteaza fiecare parte va avea dreptul sa notifice celeilalte parti 
incetarea de plin drept a Contractului fara ca vreuna dintre ele sa 
poata pretinde celeilalte alte daune-interese.</p>
<ol style="text-align: left;" start="17">
<li><strong> Newslettere</strong></li>
</ol>
<p style="text-align: left;">In momentul in care, Clientul isi creaza un
 Cont pe Website, are posibilitatea sa isi exprime acordul cu privire la
 primirea de Newslettere. Renuntarea la primirea Newslettere-lor de 
catre Utilizator se poate face in orice moment din contul creat pe 
Website. Renuntarea la primirea Newslettere-lor nu implica renuntarea la
 acceptul dat pen</p>   
   </div>
    <button class="slim-button white tc-blue medium small" id = "modal1_close" onClick="hide_modal('modal_termeni');" >Close</button>
    </div>
  </div>