<footer style="text-align: center;">
        <br><br><br>
<!--
        <span class="link-focus-grey small" style="margin:20px; margin-bottom: 20px; display: inline-block;">Despre noi</span>
        -->
  <a href='http://www.anpc.gov.ro/' target="_blank">
        <span class="link-grey small" style="margin:20px; margin-bottom: 20px; display: inline-block;">ANPC</span>
        </a>
    <span class="link-grey small" style="margin:20px; margin-bottom: 20px; display: inline-block;" onclick='show_modal("modal_termeni")'>Termeni si conditii</span>
<a href='https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.show&lng=RO' target="_blank">
    <span class="link-grey small" style="margin:20px; margin-bottom: 20px; display: inline-block;">Solutionarea online a litigiilor</span><br>
</a>
        <br><br>
        <%= image_tag ("Logo-IanaLife_6969.png"), style: "height:170px;" %>
        
    <br><br><br>
    
    
    
  </footer>


  



  <div class="modal" id="modal_termeni">
    <div class="longcontent">
       
        
         <div id="modal1_close" class="float-right slim-button small tc-black-light" onClick="hide_modal('modal_termeni');" style="padding-left: 10px; padding-right: 10px; padding-top: 1px; padding-bottom: 1px;">X</div>
        

<br><br>
<h2 class= "align-left tc-blue huge" style="margin-bottom:10px;">Utilizarea site-ului Curcumin95.ro</h2>
       <h1 class= "align-left tc-blue huge"  style="margin-bottom:30px;">Termeni si conditii</h1>
<h3 class="big align-left tc-blue biggest">1. Introducere</h3>
<p class="align-left medium tc-blue">Website-ul www.Curcumin95.ro este operat de IANALIFE SRL, o societate cu raspundere limitata organizata si functionand in conformitate cu legile din Romania, avand sediul social in Bucuresti, Calea Victoriei, nr.31, sc. B, et. 1, ap. 9, sect. 1, inregistrata la Registrul Comertului Bucuresti sub nr. J40/13020/2014, cod unic de inregistrare 33781498, numar de telefon 0725.01.33.99 si adresa de e-mail contact@Curcumin95.ro.
 <br><br>

Prezentul document stabileste termenii si conditiile de utilizare a website-ului www.Curcumin95.ro (denumit in continuare “Website”) si conditiile de achizitionare a produselor comercializate prin intermediul acestui Website (denumit in continuare „Termenii si Conditiile”).
Politica de retur, Politica de confidentialitate, Politica privind modulele cookie www.Curcumin95.ro, precum si orice alte documente la care se face referire in cuprinsul acestui document, fac parte din Termeni si Conditii. Prin utilizarea Website-ului si prin logarea in cadrul acestuia acceptati Termenii si Conditiile detaliate mai jos, cu toate consecintele care decurg din acceptarea acestora. Prin acceptarea Termenilor si a Conditiilor, sunteti, de asemenea, de acord cu Politica de retur, Politica de confidentialitate, Politica privind modulele cookie www.Curcumin95.ro, precum si cu toate celelalte documente mentionate in cuprinsul prezentului document. Daca nu sunteti de acord cu Termenii si Conditiile, va rugam sa nu utilizati acest Website.
<br><br>

Va rugam sa cititi cu atentie Termenii si Conditiile inainte de a utiliza acest Website si de a efectua orice comanda prin intermediul acestuia.
<br><br>

Curcumin95.ro isi rezerva dreptul de a modifica in orice moment Termenii si Conditiile, fara o notificare prealabila. Curcumin95.ro isi rezerva dreptul de a modifica sau de a adauga noi reguli si restrictii in ceea ce priveste continutul Website-ului, in orice moment, fara o notificare prealabila.
Orice modificari aduse Termenilor si Conditiilor vor intra in vigoare numai pentru comenzile noi, inregistrate dupa publicarea modificarilor respective pe acest Website. Astfel, va rugam sa verificati sectiunea aferenta Termenilor si Conditiilor, inainte de fiecare comanda, pentru ca este posibil sa fi intervenit modificari de la ultima vizita.
<br><br>
Daca aveti orice intrebari cu privire la Termeni si Conditii va rugam sa ne contactati prin modalitatile mentionate aici:http://www.Curcumin95.ro/contact</p>
   <br><br>
   
   
   <h3 class="big align-left tc-blue biggest">2. Preambul</h3>
<p class="align-left medium tc-blue">Prezentele Termeni si Conditii se aplica exclusiv intre Curcumin95.ro si orice persoana care viziteaza Website-ul, denumita in continuare ‘Utilizator’, sau achizitioneaza produse de pe Website, denumita in continuare “Cumparator” de pe Website, denumite in mod colectiv ‘Partile’.<br><br>
Prin utilizarea acestui Website confirmati ca sunteti major sau ca ati primit permisiunea parintilor si ca aveti capacitatea juridica de a incheia un contract si de a plasa ulterior o comanda pe Website.</p>
   <br><br>
   <h3 class="big align-left tc-blue biggest">3. Definitii</h3>
<p class="align-left medium tc-blue">Termenii si Conditiile se vor aplica tuturor vanzarilor de produse comercializate de catre Curcumin95.ro, prin intermediul Website-ului. In cuprinsul Termenilor si Conditiilor, termenii de mai jos vor avea urmatoarea semnificatie:<br><br>
<b>Utilizator</b> – orice persoana fizica sau juridica care acceseaza, in orice mod, Website-ul Curcumin95.ro.<br><br>
<b>Cumparatorul</b> – orice persoana fizica sau juridica care isi face un Cont in Site si efectueaza o Comanda online pe acest site web.<br><br>
<b>Vanzatorul</b> – Curcumin95.ro.<br><br><b>Comanda</b> – solicitarea transmisa de catre Cumparator, prin parcurgerea etapelor tehnice necesare, in vederea achizitionarii de Produse comercializate online, in conditiile prevazute de Termeni si Conditii, de catre Curcumin95.ro.<br><br>
<b>Produs</b> – orice bun comercializat de catre Curcumin95.ro pe acest Website, solicitat de catre Cumparator prin Comanda inregistrata care urmeaza sa fie livrat de catre Vanzator, in conditiile prevazute in Termeni si Conditii.<br><br>
<b>Contract</b> – contractul incheiat de catre Cumparator, in conformitate cu Termenii si Conditiile expres acceptate de acesta si Curcumin95.ro, la momentul confirmarii de catre Curcumin95.ro, pe un suport durabil, a Comenzii transmise de catre Cumparator.<br><br>
<b>Sectiune</b> – o sectiune de pe Website<br><br>
<b>Newsletter</b> – mijlocul de informare periodic, exclusiv electronic, respectiv posta electronica (e-mail, SMS), asupra produselor si/sau promotiilor desfasurate de catre Curcumin95.ro intr-o anumita perioada, fara nici un angajament din partea Curcumin95.ro cu referire la informatiile continute de acesta.<br><br>
<b>Tranzactie</b> – incasare sau rambursare a unei sume rezultata din vanzarea unui produs de catre Curcumin95.ro catre Cumparator, prin utilizarea serviciilor procesatorului de carduri agreat de catre Curcumin95.ro, indiferent de modalitatea de livrare;<br><br>
<b>Continut</b> are urmatoarea definitie:<br>
 - toate informatiile de pe Website care pot fi vizitate, vizualizate sau accesate prin utilizarea unui echipament electronic;<br>
 - continutul oricarui e-mail trimis Utilizatorilor si/sau Cumparatorilor de catre Curcumin95.ro prin mijloace electronice si/sau orice alt mijloc de comunicare disponibil;<br>
 - orice informatie comunicata prin orice mijloc de catre Curcumin95.ro Utilizatorului si/sau Cumparatorului, conform datelor de contact, specificate sau nu de catre acesta;<br>
 informatii legate de produsele si/sau tarifele practicate de Curcumin95.ro intr-o anumita perioada;<br><br><b>Campanie</b> – actiunea de a expune in scop comercial, exclusiv in mod electronic si doar prin intermediul Website-ului un numar finit de produse avand un stoc limitat si predefinit, pentru o perioada limitata de timp stabilita de catre Curcumin95.ro.<br><br>
<b>Specificatii</b> – toate specificatiile si/sau descrierile Produselor si/sau Serviciilor asa cum sunt precizate pe Website.<br><br></p><br><br>
   
   <h3 class="big align-left tc-blue biggest">4. Documente contractuale</h3>
<p class="align-left medium tc-blue"><b>a)</b> Prin inregistrarea unei Comenzi pe site, Cumparatorul este de acord cu forma de comunicare (telefonic sau e-mail) prin care Vanzatorul isi deruleaza operatiunile comerciale.
		</p><p class="align-left medium tc-blue"> 
<b>b)</b>Notificarea primita de catre Cumparator, dupa efectuarea Comenzii are rol de informare si nu reprezinta acceptarea Comenzii. Aceasta notificare se face electronic (e-mail automat trimis de site), prin sms sau telefonic.
 </p><p class="align-left medium tc-blue"> 
<b>c)</b>Pentru motive justificate, Vanzatorul isi rezerva dreptul de a modifica cantitatea Produselor din Comanda. Daca modifica cantitatea de Produse din Comanda Vanzatorul va anunta Cumparatorul pe adresa de e-mail sau la numarul de telefon puse la dispozitia Vanzatorului la efectuarea Comenzii. Daca clientul nu este de acord cu noua Comanda acesta o poate modifica/anula, iar Vanzatorul va returna suma platita de Cumparator in maxim 30 de zile de la confirmarea modificarii/anularii comenzii. Pentru plata cu cardul, daca valoarea comenzii modificate este mai mare ca valoarea comenzii initiale, Cumparatorul va trebui sa initieze o noua comanda.
 </p><p class="align-left medium tc-blue"> 
<b>d)</b>Contractul se considera incheiat intre Vanzator si Cumparator in momentul primirii de catre Cumparator de la Vanzator, prin intermediul postei electronice si/sau SMS a notificarii de expediere a Comenzii.
 </p><p class="align-left medium tc-blue"> 
<b>e)</b>Informatiile puse la dispozitie de catre Vanzator pe Website vor sta la baza Contractului, in completarea acestuia putand fi si alte documente cum ar fi certificatul de garantie si/sau certificatul de conformitate emis de catre Vanzator pentru Produsele achizitionate.</p>
   <br><br>
   <h3 class="big align-left tc-blue biggest">5. Informatii despre comenzile online</h3>
<p class="align-left medium tc-blue"><b>a)</b> ro ia toate masurile pentru ca informatiile publicate pe site, inclusiv descrierea Produselor precum si preturile listate, sa fie, in orice moment, corecte si complete. Cu toate acestea, se pot face si greseli. In asemenea situatii, Curcumin95.ro va incerca sa inlature toate erorile survenite in cel mai scurt timp posibil. In cazul in care Curcumin95.ro constata ca eroarea respectiva a afectat/influentat Comanda dumneavoastra sau Contractul valabil incheiat, va incerca sa va informeze in cel mai scurt timp posibil, oferindu-va atat posibilitatea reconfirmarii Comenzii sau a Contractului, cat si posibilitatea anularii acesteia/acestuia.
		</p><p class="align-left medium tc-blue"> 
<b>b)</b>Va rugam sa aveti in vedere ca achizitionarea produselor pe site ofera o experienta diferita de cea din magazinele fizice. In special, trebuie sa stiti ca:<br><br>
Culorile Produselor, astfel cum sunt prezentate pe Website, pot fi diferite in realitate, pentru ca depind de mai multi factori, inclusiv, dar fara a se limita la, setarile monitorului dumneavoastra;<br><br>
Dimensiunile si forma Produselor pot fi diferite in realitate fata de modul in care apar pe Website, de aceea, va rugam sa aveti in vedere ca este responsabilitatea dumneavoastra sa verificati ca marimea reala a fiecarui Produs sa corespunda scopului pentru care ati achizitionat respectivul Produs;<br><br>
Fotografiile si imaginile de pe Website au doar rol ilustrativ/orientativ. Pentru o descriere exacta a Produsului si a detaliilor incluse, trebuie sa cititi cu atentie descrierea corespunzatoare a Produsului sau sa ne contactati prin modalitatile mentionate aici: http://www.Curcumin95.ro/contact;<br><br>
Produsele vor fi livrate numai in masura in care sunt disponibile, existand astfel riscul ca Curcumin95.ro sa nu poata livra Comanda. De asemenea,  Curcumin95.ro isi rezerva dreptul de a retrage orice Produs de la vanzare, in orice moment. In asemenea situatii, singura responsabilitate a Curcumin95.ro fata de dumneavoastra este rambursarea integrala a sumelor platite pentru respectivele Produse pe care nu le mai poate furniza/le-a retras de la comercializare;<br><br>
Curcumin95.ro depune toate eforturile pentru a expedia Produsele aflate pe stoc in cel mai scurt timp posibil, 1-2 zile lucratoare.<br><br>
Curcumin95.ro isi rezerva dreptul de a ajusta in mod liber si cu respectarea prevederilor legale, preturile si ofertele speciale practicate.
 </p><p class="align-left medium tc-blue"> 
<b>c)</b>Nu este permisa utilizarea acestui Website in scopul introducerii in mod deliberat de virusi sau orice alt program sau material care poate fi tehnic daunator sau distructiv. Sunt interzise incercarile de acces neautorizat la acest Website, la serverul pe care este gazduit acesta sau la orice alt server, calculator sau baza de date in legatura cu acest site web. Prin acceptarea Termenilor si Conditiilor va angajati sa nu atacati acest Website prin intermediul unui atac de blocare a serviciului sau de blocare distribuita a serviciului.<br><br>
Nerespectarea dispozitiilor din prezenta clauza va fi raportata autoritatilor competente in vederea aplicarii sanctiunilor legale si va determina suspendarea imediata a dreptului de a utiliza acest Website.
Curcumin95.ro, desi depune toate eforturile pentru a asigura o navigare sigura pe Website, nu garanteaza ca acesta, serverele pe care este gazduit sau e-mailurile trimise sunt fara virusi sau alte componente informatice cu caracter potential daunator, ca nu contine erori, omisiuni, defectiuni, intarzieri sau intreruperi in operare sau transmitere, caderi de linie sau orice alti factori similari. Va rugam sa aveti in vedere ca folositi Website-ul pe riscul propriu, Curcumin95.ro nefiind in niciun fel responsabila pentru eventualele daune directe sau indirecte cauzate de utilizarea sau accesarea/vizitarea Website-ului sau ca urmare a utilizarii informatiilor de pe Website.<br><br>
Curcumin95.ro nu raspunde de erorile sau omisiunile care pot interveni in redactarea sau prezentarea materialelor de pe site, fara ca prin aceasta prevedere sa fie afectate drepturile de care beneficiati, in temeiul legii. Astfel, este in avantajul dumneavoastra sa va asigurati ca aveti instalate sisteme adecvate de aparare, menite sa va protejeze calculatorul de virusi si/sau orice alt continut daunator.<br><br>
Curcumin95.ro isi rezerva dreptul de a anula Comenzile care privesc Produse afisate pe Website ca urmare a unor erori tehnice sau care, din cauza unor erori tehnice, prezinta preturi evident eronate/derizorii (preturi care pot fi, in mod rezonabil, apreciate ca eronate/derizorii de catre consumatorul mediu), cu consecinta restituirii intregii sume platite de Cumparator in considerarea comenzilor anulate, daca este cazul.
 </p><p class="align-left medium tc-blue"> 
<b>d)</b>Curcumin95.ro are dreptul, in orice moment, sa modifice, sa suspende sau sa inceteze comercializarea produselor online, partial sau in totalitate, temporar sau permanent, cu sau fara notificare prealabila. Curcumin95.ro nu va fi responsabila pentru nicio modificare, suspendare sau intrerupere a disponibilitatii serviciului de comenzi online, fara ca prin aceasta prevedere sa se aduca atingere drepturilor pe care legea le recunoaste consumatorilor. De asemenea, Comenzile online valabil confirmate de catre Curcumin95.ro, anterior operatiunilor de modificare, suspendare sau incetare dispuse, vor fi in mod corespunzator executate de Curcumin95.ro. 
 </p><p class="align-left medium tc-blue"> 
<b>e)</b>Curcumin95.ro va asigura confidentialitatea datelor dumneavoastra, respectiv a datelor de autentificare, parolei si tuturor celorlalte detalii in legatura cu contul creat pe website-ul www.Curcumin95.ro, in conformitate cu Politica de confidentialitate. Cu toate acestea, este si responsabilitatea dumneavoastra sa va asigurati ca informatiile privind contul creat pe Website raman confidentiale in orice moment si ca nu vor fi transmise catre terti. Prin acceptarea Termenilor si Conditiilor sunteti de acord sa informati Curcumin95.ro in cel mai scurt timp posibil daca aveti, in mod rezonabil, suspiciuni ca securitatea contului dumneavoastra este in pericol.</p><p class="align-left medium tc-blue"> 
<b>f)</b>Va rugam sa aveti in vedere ca puteti face o comanda valabila pe Website numai daca ati implinit varsta de 18 ani si doriti ca Produsele sa fie livrate pe teritoriul Romaniei. Este nevoie in mod necesar de o adresa de email valabila/activa si un numar de telefon la care puteti fi contactat cu usurinta.</p><p class="align-left medium tc-blue"> 
<b>g)</b>Comercializarea online a Produselor are loc in sistem en-detail (comert cu amanuntul).</p>
   <h3 class="big align-left tc-blue biggest">6. Prelucrarea datelor cu caracter personal</h3>
<p class="align-left medium tc-blue"><b>a)</b>ro este inregistrata la Autoritatea Nationala de Supraveghere a Prelucrarii Datelor cu Caracter Personal ca operator de date cu caracter personal sub numarul 34799.
		</p><p class="align-left medium tc-blue"> 
<b>b)</b>Datele dumneavoastra cu caracter personal sunt prelucrate in conformitate cu Politica de confidentialitate.
 </p><p class="align-left medium tc-blue"> 
<b>c)</b>Prin completarea formularelor specifice de pe Website, pentru crearea unui cont, transmiterea unei Comenzi si altele, va exprimati consimtamantul expres ca datele dumneavoastra cu caracter personal sa fie prelucrate de catre Curcumin95.ro in scopurile mentionate. Refuzul furnizarii datelor solicitate de catre Curcumin95.ro pentru efectuarea unei Comenzi, determina imposibilitatea Curcumin95.ro de a livra Comenzile respective.
 </p><p class="align-left medium tc-blue"> 
<b>d)</b>In cazul in care va modificati, prin utilizarea formularelor de pe Website, datele personale furnizate deja catre  Curcumin95.ro si exista Comenzi in derulare, Comenzile respective isi pastreaza datele de la momentul efectuarii Comenzii, iar livrarea Produselor se va face neluandu-se in considerare noile date. Curcumin95.ro nu va solicita, prin niciun mijloc de comunicare (telefon/e-mail etc.) informatii confidentiale, parole personale etc. In cazul in care dumneavoastra divulgati astfel de date catre terti, acestia poarta intreaga responsabilitate pentru propriile actiuni. In asemenea situatii, Curcumin95.ro nu va fi responsabila pentru niciun fel de prejudiciu.
 </p>
   <br><br>
   
    <h3 class="big align-left tc-blue biggest">7. Inregistrarea ca utilizator</h3>
<p class="align-left medium tc-blue"><b>a)</b>Daca vizitati Website-ul, chiar daca nu achizitionati produse, aveti calitatea de utilizator.
		</p><p class="align-left medium tc-blue"> 
<b>b)</b>Pentru a putea achizitiona produse trebuie sa va inregistrati pe Website, prin crearea unui cont.
 </p><p class="align-left medium tc-blue"> 
<b>c)</b>Puteti gasi informatiile necesare cu privire la inregistrare in sectiunea “Intra in cont”.
 </p><p class="align-left medium tc-blue"> 
<b>d)</b> ro poate refuza solicitarea de inregistrare in masura in care constata ca informatiile furnizate sunt in mod vadit neconforme cu realitatea.
 </p>
   <br><br>
   
   <h3 class="big align-left tc-blue biggest">8. Comenzi</h3>
<p class="align-left medium tc-blue"><b>a)</b>Utilizatorul va consulta sectiunea “Cum comand?”pentru a obtine toate informatiile relevante despre etapele efectuarii unei Comenzi. Inregistrarea Comenzii constituie o oferta de achizitionare a produselor de la Vanzator, supusa confirmarii sale ulterioare.
		</p><p class="align-left medium tc-blue"> 
<b>b)</b>La plasarea unei Comenzi, vi se va cere sa urmati mai multe etape:
 <ul class="align-left; tc-blue;">
<li>adaugati produsele alese in cos;</li>
<li>selectati modalitatea si adresa de livrare;</li>
<li>selectati metoda de plata;</li>
<li>efectuati plata, cu exceptia platii ramburs;</li></ul>
 </p><p class="align-left medium tc-blue"> 
<b>c)</b>Odata inregistrata, Comanda nu mai poate fi modificata de catre Cumparator. In cazul in care doriti sa modificati/anulati comanda va rugam sa ne contactati prin modalitatile mentionate aici: http://www.Curcumin95.ro/contact.
 </p><p class="align-left medium tc-blue"> 
<b>d)</b>Dupa efectuarea Comenzii veti primi un e-mail automat cu privire la detaliile Produselor comandate, costul total al Comenzii, inclusiv costurile de livrare, precum si un numar de identificare a Comenzii. Cumparatorului i se va aduce la cunostinta disponibilitatea produselor prin e-mail sau telefon in maxim 48 de ore, cu exceptia sarbatorilor legale.
 </p><p class="align-left medium tc-blue"> 
<b>e)</b>Transmiterea Comenzii de catre Cumparator si primirea emailului mentionat mai sus, reprezinta doar o confirmare a faptului ca aceasta Comanda a fost receptionata de Curcumin95.ro si nu formeaza un contract cu caracter obligatoriu.
 </p><p class="align-left medium tc-blue"> 
<b>f)</b>curcumin95.ro va depune toate eforturile pentru livrarea tuturor Produselor comandate, dar isi rezerva dreptul, fara a prezenta motivele aferente, sa refuze o Comanda (inainte de a o fi acceptat). In cazul in care Comanda este refuzata de Curcumin95.ro, Cumparatorul va fi anuntat pe mail asupra acestui lucru.
 </p><p class="align-left medium tc-blue"> 
<b>g)</b>De indata ce Comanda dumneavoastra e gata sa fie expediata, Curcumin95.ro va va trimite un e-mail de confirmare a expedierii Comenzii sau va va contacta telefonic. Contractul se considera valabil incheiat la momentul confirmarii expedierii de catre Curcumin95.ro, pe un suport durabil, respectiv prin transmiterea e-mailului care confirma expedierea comenzii catre Cumparator.
<br><br>
<strong>Preturile</strong>
<ul  class="align-left medium tc-blue"><li>Preturile afisate pe site sunt exprimate in lei si includ toate taxele aplicabile.</li>
<li>TVA se aplica la valoarea legala de la data comenzii si este inclus in preturile produselor.</li>
<li>Preturile produselor afisate pe Website exclud costurile de livrare si costurile altor servicii optionale pe care le-ati selectat.</li>
<li>Orice alte costuri suplimentare vor fi incluse in sumarul comenzii dumneavoastra afisat pe ecran inainte de confirmarea finala a comenzii dumneavoastra.</li></ul>
 </p>
   <br><br>
   
    <button class="slim-button white tc-blue medium small" id = "modal1_close" onClick="hide_modal('modal_termeni');" >Close</button>
    </div>
  </div>